.center {
	display:  block;
	margin-left: auto;
	margin-right: auto;
}

.sideBar {
	height: 100%;
	width: 130px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #808080;
	overflow-x: hidden;
	padding: 20px;
	font-family: "Courier New", Courier, monospace;
}

.sideBar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	color: #000000;
}

.sideBar a:hover {
	color: #ff0000;
}

.sideBar a:active {
	color: #000000;
}
	
.main {
	margin-left: 140px;
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sideBar {padding-top: 15px;}
	.sideBar a {font-size: 18px;}
}

.headerText {
	width: 60%;
	height: 200px;
	color: #336699;
	padding-left: 20px;
	float: left;
}

.images {
	margin-left: 60%;
	height: 200px;
}

.bodyImages {
	padding-top: 20px;
	margin-left: 10%;
}

.headerText h1 {
	font-family: "Lucida Console", Monaco, monospace;
}

.bodyText {
	float: right;
}

.headerText h2 {
	/*font-family: "Arial Body";*/
	font-size: 10x;
}

.container {
	margin: auto;
	height: 200px;
	padding: 10px;
	padding-left: 20px;
}

body {
	background-color: #eee;
}

.404image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
